:root{

}

html,body{
    margin:0;
    padding:0;
}

.navbar-sec{
    height:4.5rem;
    background-color: whitesmoke;
    
}

.flex{
    display:flex;
    margin-left:10%;
    margin-right:10%;
    text-align: center;
    justify-content:space-between;  
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration:none;
    color:#363636;
}

.flex ul{
    margin-right:1rem;
    padding:0;
}

.flex ul a{
    padding-left:.8rem;
    padding-right:.8rem;
    font-size:1.2rem;
}

.flex ul a:hover{
    text-decoration: underline;
    text-decoration-color:grey ;
    text-decoration-thickness:5px;
}

#nav-btn{
    display:none;
    font-size:2.5rem;
    cursor:pointer
}

.container{
    margin:1rem
}

.flex-container{
    display:flex;
    gap:3rem;
}

.flex-left{
    font-family: 'Poppins', sans-serif;
}



@media screen and (max-width=768px){
    #nav-btn{
        display:inline-block;
    }
    .flex ul a{
        display:none;
    }
}